body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

main {
    max-width: 1200px;
    justify-self: center;
    margin: 0 auto;
    padding: 1rem 1rem 2rem;
}

// ───────────────────────────────────────────────
//  Variables
// ───────────────────────────────────────────────
$primary-color: #ff6060;
$background-color: #f6f6f6;
$text-light: #fff;
$radius: 15px;