.apropos__collapses {
  display: flex;
  flex-direction: column;
  justify-self: center;
  max-width: 1000px;
  padding: 30px;
  margin: 0 auto;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .apropos__collapses {
    padding: 20px;
  }
}
