$gap-section: 2rem;

/* -------- Page À propos --------------------------------- */
.apropos {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: $gap-section;
}

/* Bloc qui empile les Collapse */
.apropos__collapses {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
