// ───────────────────────────────────────────────
//  Variables
// ───────────────────────────────────────────────
$primary-color: #ff6060;
$background-color: #f6f6f6;
$text-light: #fff;
$radius: 15px;

// ───────────────────────────────────────────────
//  Grille de cartes
// ───────────────────────────────────────────────

.cards-container {
  display: flex;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 100%;
    padding: 30px;
    margin: 2rem auto;
    gap: 2rem;
    background: $background-color;
    border-radius: $radius;
  }
}

@media (max-width: 768px) {
  .cards-container {
    padding: 0 20px;

    .cards-grid {
      padding: 20px;
      gap: 1rem;
    }
  }
}