@import "./variables";

.cards-container {
  display: flex;
  max-width: $max-width;
  padding: 0 30px;
  margin: 0 auto;

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 100%;
    padding: 30px;
    margin: 2rem auto;
    gap: 2rem;
    background: $background-color;
    border-radius: $radius;
  }
}

@media (max-width: 768px) {
  .cards-container {
    padding: 0 20px;

    .cards-grid {
      padding: 20px;
      gap: 1rem;
    }
  }
}

@media (max-width: 425px ) {
  .cards-container {
    .cards-grid {
      background-color: transparent;
      padding: 0;
    }
  }
}