$primary-color: #ff6060;
$grey-background: #f6f6f6;
$white: #ffffff;
$radius: 10px;

.collapse {
  width: 100%;

  &__header {
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: $primary-color;
    color: $white;
    padding: 0.9rem 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: $radius;

    .collapse__icon {
      transition: transform 0.3s ease;
      display: flex;
      width: 25px;
      height: 25px;
      rotate: 270deg;
    }
  }

  &__content-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    background: $grey-background;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }

  &__content {
    padding: 1.2rem;
    line-height: 1.4;
    color: #000;

    ul {
      padding-left: 1rem;
      margin: 0;
    }

    li {
      list-style: none;
      margin-bottom: 0.35rem;
      position: relative;

      &::before {
        position: absolute;
        left: -0.7rem;
      }
    }
  }

  &.open {
    .collapse__content-wrapper {
      max-height: 600px;
    }

    .collapse__header {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .collapse__icon {
      transform: rotate(-0.5turn);
    }
  }
}
