$primary-color: #ff6060;

.erreur {
    display: flex;
    flex-direction: column;
    gap: 5rem;    
    text-align: center;
  h1 {
    color: $primary-color;
    font-size: 10vw;
    font-weight: 700;
    margin: auto;
  }

  p {
    color: $primary-color;
    font-size: 2rem;
    font-weight: 500;
  }

  &__link {
    margin-top: 2rem;
    color: black;
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
