@import "./variables";

.erreur {
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 30px;
  gap: 5rem;
  align-items: center;
  text-align: center;

  h1 {
    color: $primary-color;
    font-size: 202px;
    font-weight: 700;
    margin: auto;
  }

  p {
    color: $primary-color;
    font-size: 2rem;
    font-weight: 500;
  }

  &__link {
    margin-top: 2rem;
    color: black;
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .erreur {
    padding: 80px 20px;
    margin: 20px auto;

    h1 {
      font-size: 150px;
    }

    p {
      font-size: 1.5rem;
    }

    &__link {
      font-size: 1.2rem;
    }
  }
}
