@import "./variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $max-width;
  padding: 30px;
  margin: 0 auto;

  .logo {
    display: flex;

    img {
      width: 150px;
    }
  }

  .navigation {
    display: flex;
    gap: 50px;

    a {
      color: $text-dark;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.5em;

      &.active {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 20px;
    .navigation {
      gap: 20px;
      a {
        font-size: 1rem;
      }
    }
  }
}
