@import "./variables";

.logement {
  .carousel-container {
    max-width: $max-width;
    padding: 0 30px;
    margin: 0 auto;
  }
  /* ---------- HEADERS, HOST ------------------------------------ */
  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1.5rem;
    max-width: $max-width;
    padding: 0 30px;
    margin: 0 auto;
  }

  &__infos {
    h2 {
      margin: 0 0 0.4rem 0;
      color: $primary-color;
      font-size: 1.9rem;
      font-weight: 500;
    }

    .logement__location {
      font-size: 1rem;
      margin-bottom: 0.8rem;
      font-weight: 500;
    }

    .logement__tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.6rem;
    }
  }

  &__host-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__host {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.3rem;
    color: $primary-color;
    text-align: right;

    &-name {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      margin-right: 1rem;
      justify-items: flex-end;
    }

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      margin-top: 4px;
      object-fit: cover;
    }
  }

  /* ---------- BLOC DETAILS (Description + Équipements) --------------- */
  &__details {
    display: grid;
    max-width: $max-width;
    margin: 0 auto;
    padding: 30px;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    /* Chaque Collapse garde sa hauteur auto */
    > .collapse {
      align-self: flex-start;
    }
  }
}

@media (max-width: 768px) {
  .logement {
    margin: 20px auto;
    .carousel-container {
      padding: 0 20px;
    }
    &__header {
      flex-direction: column;
      padding: 0 20px;
    }

    &__infos {
      h2 {
        font-size: 1.6rem;
      }
    }
    &__host-block {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      justify-items: space-between;
    }
    &__details {
      grid-template-columns: 1fr;
      padding: 20px;
    }
    &__host {
      font-size: 0.9rem;

      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}
