$primary-color: #ff6060;
$background-color: #f6f6f6;
$text-light: #fff;
$text-dark: #000;
$radius: 15px;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

.rating {
  display: flex;
  gap: 4px;

  .star {
    font-size: 25px;
    letter-spacing: 0.5em;
    color: #e3e3e3;
    &--full {
      color: $primary-color;
    }
  }
}

@media (max-width: 768px) {
  .rating {
    .star {
      font-size: 20px;
    }
  }
}
