$primary-color: #ff6060;
$background-color: #f6f6f6;
$text-light: #fff;
$text-dark: #000;
$radius: 15px;
$radius-small: 10px;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
$max-width: 1200px;
$max-width-large: 1440px;